:root {
  font-size: calc(0.5em + 1vw);
}

body {
  background-color: #EEEEEE;
  div {

  }

  .title {
    font-size: 1.5rem;
    padding-bottom: 1em;
  }

  .hidden {
    visibility: hidden;
  }

  .root{

  }
}
